* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: wheat;
}

body::-webkit-scrollbar {
    width: 12px;
}

body::-webkit-scrollbar-track {
    background: black;
}

body::-webkit-scrollbar-thumb {
    background-color: gray;
}

li {
    list-style: none;
}


img {
    width: 100%;
    height: 100%;
    display: block;
}

video {
    width: 100%;
    height: 100%;
    display: block;
}

.container {
    max-width: 1024px;
    display: flex;
    flex-direction: column;
    padding: 2rem;

}

.navbar {
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    height: 5rem;
    z-index: 10000;
    background-color: transparent;
}


.navScroll {
    background-color: white;
}

.navbar__logo {
    position: absolute;
    left: 1rem;
    top: 1rem;
    width: 7rem;
}



.navbar__menu {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
    text-align: center;
    gap: 3rem;
    text-transform: uppercase;
    position: fixed;
    background-color: black;
    left: 110%;
    width: 70%;
    min-height: 100vh;
    transition: left 1s;

}


.show__menu {
    transition: left 1s;
    left: 40%;
}

.closeMenu {
    fill: white;
    position: absolute;
    top: 2rem;
    right: 5rem;
    cursor: pointer;
}

.navbar__icon {
    position: absolute;
    right: 1rem;
    top: 1rem;
    padding: .3rem;
    background-color: rgba(0, 0, 0, .8);
    fill: white;
    border-radius: 3px;
    cursor: pointer;
}

.navbar__menu-a {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.navbar__menu-a>li>a {
    text-decoration: none;
    color: white;
    text-shadow: 1px 1px 2px black;
}

.navbar__menu-a>li>a:hover {
    text-decoration: underline red;
}

.header__content {
    padding: 5rem 1rem 0rem;
    display: flex;
    flex-direction: column;

}

.header__title {
    text-transform: uppercase;
    color: #fff;
    font-size: 1.8rem;
    align-self: flex-end;
    text-shadow: 1px 1px 5px black;
    border-top: 1px solid black;
    margin-top: 1rem;
}

main {
    padding-top: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section__singers {
    padding-top: 5rem;
    text-align: center;
    display: flex;
    gap: 1rem;
}

main>h3 {
    text-transform: uppercase;
    font-size: 1.5rem;
    color: #fff;
    text-shadow: 1px 1px 4px black;
}

.section__card {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: rgba(0, 0, 0, .6);
    padding: 1.5rem;
    border-radius: 1rem;
}

.card__img {
    border-radius: 1rem;
    overflow: hidden;
    border: 1px solid black;
}

.section__card>h3 {
    text-transform: uppercase;
    font-size: 1.5rem;
    color: white;
    text-shadow: 1px 1px 4px black;
}

.section__card>p {
    color: white;
    text-shadow: 1px 1px 4px black;
}

.section__proyects {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 1rem;
    padding: 1.5rem;
}

.section__proyects>h3 {
    text-transform: uppercase;
    font-size: 1.5rem;
    color: white;
    text-shadow: 1px 1px 4px black;
}

.proyect__card {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: rgba(0, 0, 0, .6);
    padding: 1.5rem;
    border-radius: 1rem;
}

.proyect__card_text {
    padding: 1rem;
    text-transform: uppercase;
    font-size: 1.5rem;
    color: #fff;
    text-shadow: 1px 1px 4px black;
}

.section__contact {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}

.section__contact>h3 {
    text-transform: uppercase;
    font-size: 1.5rem;
    color: white;
    text-shadow: 1px 1px 4px black;
}

.contact__container {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.contact_icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1em;
}

footer {
    padding: 2rem;
    text-align: center;
    background-color: black;
    color: white;
}

@media (min-width:600px) {

    .section__singers {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .header__title {
        font-size: 2.5rem;
    }

}

.navbar__menu-a>li>a {
    color: white;
}

.navScroll>.navbar__menu>.navbar__menu-a>li>a {
    background-color: white;
    color: #000;
    transition: all 1s;
}



@media (min-width:800px) {
    .navbar {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .navbar__menu {

        justify-content: center;
        align-items: flex-end;
        padding-right: 1rem;
        font-size: 1.3rem;
        text-align: center;
        gap: 3rem;
        text-transform: uppercase;
        position: static;
        background-color: transparent;
        left: 110%;
        min-height: 80px;
        top: 0;
        width: 100%;
    }

    .navbar__logo {
        position: fixed;
    }

    .closeMenu {
        display: none;

    }

    .navbar__icon {
        display: none;
    }

    .navbar__menu-a {
        flex-direction: row;

    }

    .header__title {
        font-size: 3rem;
    }

    .section__singers {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        padding: 5rem;
    }

    .section__proyects {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding: 5rem;

    }

}